input[type=file] {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 250px;
}

tr {
   line-height: 40px;
   min-height: 40px;
   height: 40px;
}

.highlight {
    background-color:yellow;
}
